In [28]:
import pandas as pd
from datetime import datetime

In [29]:

# Data di input nel formato giorno/mese/anno
start_date_str = '02/12/2024'

try:
    # Convertire la data di input in un oggetto datetime
    data_obj = datetime.strptime(start_date_str, '%d/%m/%Y')

    # Creare la data nel formato richiesto (anno-mese-giornoT00:01:32)
    start_date = data_obj.strftime('%Y-%m-%dT00:01:32')

    print(start_date)
except ValueError as e:
    print(f"Errore: {e}")

2024-12-02T00:01:32

In [38]:
from datetime import datetime

gl = pd.read_csv('../data/glucoseLevel.csv', delimiter=';')

colonne_specifiche = ['Tipo di evento','Sottotipo di evento', 'Data e ora (AAAA-MM-GGThh:mm:ss)', 'Valore del glucosio (mg/dL)']

gl = gl[colonne_specifiche].iloc[18:]   
start_date_str = "2024-02-16"
end_date_str = "2024-02-20"





required_columns = ['Tipo di evento', 'Sottotipo di evento', 'Data e ora (AAAA-MM-GGThh:mm:ss)', 'Valore del glucosio (mg/dL)']


glucose_data = gl[required_columns].iloc[18:]

date_column = 'Data e ora (AAAA-MM-GGThh:mm:ss)'


data_obj = datetime.strptime(start_date_str, '%Y-%m-%d')
start_date = data_obj.strftime('%Y-%m-%dT00:00:00')

data_obj = datetime.strptime(end_date_str, '%Y-%m-%d')
end_date = data_obj.strftime('%Y-%m-%dT00:00:00')


    # Filtra il DataFrame in base alle date fornite
if start_date and end_date:
    glucose_data = glucose_data[(glucose_data[date_column] >= start_date) & (glucose_data[date_column] <= end_date)]
elif start_date:
    glucose_data = glucose_data[glucose_data[date_column] >= start_date]
elif end_date:
    glucose_data = glucose_data[glucose_data[date_column] <= end_date]
    
glucose_data

,Tipo di evento,Sottotipo di evento,Data e ora (AAAA-MM-GGThh:mm:ss),Valore del glucosio (mg/dL)
875,EGV,NaN,2024-02-16T00:01:16,203
876,EGV,NaN,2024-02-16T00:06:16,202
877,EGV,NaN,2024-02-16T00:11:17,162
878,EGV,NaN,2024-02-16T00:16:16,171
879,EGV,NaN,2024-02-16T00:21:17,184
...,...,...,...,...
2022,EGV,NaN,2024-02-19T23:36:15,137
2023,EGV,NaN,2024-02-19T23:41:15,124
2024,EGV,NaN,2024-02-19T23:46:16,110
2025,EGV,NaN,2024-02-19T23:51:15,118
2026,EGV,NaN,2024-02-19T23:56:16,121